<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title></title>
</head>
<body>
	<nav>
		<a href='/'>Home</a>
		<a href='/favorites' >Favorites</a>
		<a href='/favorites/new' >New</a>
	</nav>
	<h1>Your Favorite Animals</h1>
	<% if (animals.length === 0) { %>
			<h3>You have no favorite animals!</h3>
			<hr>
	<% } else { %>
		<section>
			<% animals.forEach(function(a) { %>
				<div>
					<p>Name: <%= a.species_name %></p>
					<i id="scientific_name">Scientific Name: <%= a.scientific_name %></i>
					<br />
					<image src="<%= a.image_url %>" alt="image of animal" width="300" height="300">
					<p>Description: <%= a.description %></p>
					<% if (a.extinct === true) { %>
						<font color="red">Extinct: <%= a.extinct %></font>
					<% } else { %>
						<font color="black">Extinct: <%= a.extinct %></font>
					<% } %>
				</div>		   
			<% }) %>
		</section>
	<% } %>
</body>
</html>